!terraform/projects/secrets-management/demo-project/

tls/*.pem
tls/*.csr
*.env

**/.terraform/
*.tfstate
crash.log
crash.*.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
*.terraform.lock*
backend.tf

